<div class="container">
    <div class="row">
        <div class='col-xs-6 col-xs-offset-3'>
          <div class="form-group">
            <label>Evento</label>
            <p><%=@evento.nombre%></p>
          </div>

          <div class="form-group">
            <label>Lugar</label>
            <p><%=@evento.lugar%></p>
          </div>

          <div class="form-group">
            <label>Descripción</label>
            <p><%=@evento.descripcion %></p>
          </div>

          <div class="form-group">
            <label>Fecha de inicio</label>
            <p><%=l @evento.fechaInicio, format: :long%></p>
          </div>

          <div class="form-group">
            <label>Fecha de fin</label>
            <p><%=l @evento.fechaFin, format: :long%></p>
          </div>

          <div class="form-group">
            <label>Capacidad de capacitantes</label>
            <p><%= @evento.maxParticipantes %></p>
          </div>

          <div class="form-group">
            <label>Lugares disponibles</label>
            <p><%= @evento.lugares_disponibles %></p>
          </div>

          <% if @usuario_actual.type != "Administrador" %>
            <% if @evento.participantes.include?(@usuario_actual) %>
              <p>¡Ya estás inscrito!</p>
            <% elsif @evento.lugares_disponibles > 0 %>
              <%= link_to "Inscribirme", inscribir_evento_path(@evento), method: :post %>
            <% end%>
          <% else %>
            <%= link_to "Editar", edit_evento_path(@evento) %>
          <% end %>
          
          
          <%= link_to "Regresar", eventos_path %>
        </div>
    </div>
</div>