<div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>¡Regístrate ahora!</h1><br>
                  <% if @usuario && @usuario.errors.any? %>
                        <p>
                        <% @usuario.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                        <% end %>
                        </p></br>
                    <% end %>
                  <%= form_for(@usuario) do |f| %>
                    <div class="field">
                    <%= f.text_field :nombre, placeholder: "Nombre", autofocus: true %>
                    </div>

                    <div class="field">
                    <%= f.text_field :apellidos, placeholder: "Apellidos" %>
                    </div>

                    <div class="field">
                    <%= f.text_field :email, placeholder: "Email" %>
                    </div>

                    <div class="field">
                    <%= f.password_field :contrasena, placeholder: "Contraseña", autocomplete: "off" %>
                    </div>

                    <div class="actions">
                    <%= f.submit "Sign up", class:"login loginmodal-submit" %>
                    </div>
                    <% end %>

				  <div class="login-help">
					<a href="http://localhost:3000/login#">Iniciar sesión</a>
				  </div>
				</div>
			</div>

			<style>
      html {
                width: 100%;
                height: 100%;
            }
			body{
  background-image: url('https://static.pexels.com/photos/5156/people-eiffel-tower-lights-night.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
}
</style>